{% extends "base.html" %}

{% block title %}Crea tu Cuento{% endblock %}

{% block contenido %}
<script>
  $(document).ready(function(){
    showTextFromInput('#nombre_nino', '.nombreTexto');
    dataFromVariable(nombre_nino, '.nombreTexto', '[NOMBRE]');
  })

  pelo = "";

  if(pelo == 'afrocorto') {
    chooseHair('afro');
  } else if (pelo == 'afrolargo'){
    chooseHair('afro');
  } else if(pelo == 'lisocorto' 
      || pelo == 'lisolargo' 
      || pelo == 'rizadocorto'
      || pelo == 'rizadolargo'
    ) {
    chooseHair('otherHair');
  }

  //switch colors and hair
  function chooseHair(type){
    if(type == 'afro'){
      $('#colorDelPelo').css('display', 'none');
      $('#colorDelPeloAfro').css('display', 'block');
      $('#colorDelPeloAfro').find('input').attr("disabled", false);
      $("#colorDelPelo").find('input').attr("disabled", true);
    } else if(type == 'otherHair'){
      $('#colorDelPeloAfro').css('display', 'none');
      $('#colorDelPelo').css('display', 'block');
      $('#colorDelPelo').find('input').attr("disabled", false);
      $("#colorDelPeloAfro").find('input').attr("disabled", true);
    }
  }

  //inputs and variables
  var nombre_nino = "";
  //get data from variable
  function dataFromVariable(text, output, staticText){
        if(text){
            console.log(text);
            $(output).each(function(){
                $(this).text(text);
            })
        } else {
            $(output).each(function(){
                $(this).text(staticText)
            })
        }
    }

  //get data from inputs
  function showTextFromInput(input, output){
        $(input).on('input paste propertychange change keyup keypress', function () {
            var that = this;
      if($(input).val().length == 0){
        console.log('inside input length = 0')
        $(output).each(function(){
          $(this).text('[NOMBRE]');
        })
      } else {
        $(output).each(function(){
          $(this).text($(that).val());
        })
      }
        });
    }
  </script>
  <div class="banner-cuento">
  </div>
  <div class="fase2 seccion-personaliza container mt-5">
    <div class="info_libro col-sm-3">
<div class="fase2_libro amarillo coleccion-6">
  <img src="/static/images/Cuento3.png" alt=""/>
  <article>
      <p class="f1_precio f2_precio">
        <span class="pull-left">TAPA DURA </span>
        <span class="pull-right">589.00 MXN</span>
      </p>

  </article>
</div>
<div class="explicacion">
  <h1 style="font-size: 27px;font-weight: bold;">titulo del libro</h1>
  <p>texto simulado.</p>

    <p style="margin-top: 30px;">Texto simulado</p>

</div>
    </div>
    <div class="info_nene col-sm-9 col-md-offset-0">
          <div class="alert alert-danger alerta-paso" role="alert" style="display: none;">
                Completa los pasos en orden por favor.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-danger alerta-campos" role="alert" style="display: none;">
                Rellena todos los campos por favor.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
                  <form method="POST" id="formulario-paso1" action="https://micuento.com/es-mx/personalizacion/66/"><input type='hidden' name='csrfmiddlewaretoken' value='CoxRSJmhDJKTJsLXntUkSugvH1cGbm1cwaCeLQMHWSsLuK9NxST9joy1PNnktH1b' />
<input type="hidden" name="country" value='es-mx'>
<input type="hidden" name="text" value='mx'>
  <div class="field">
    <div class="label-field col-md-6 text-right">
      <h5>
        EL LIBRO ES PARA:
      </h5>
    </div>
    <div class="content-field col-md-6">
      <input type="text" maxlength="13" id="nombre_nino" name="nombre_nino" required class="form-control" value="">
    </div>
  </div>

  <div class="field field-radio">
    <div class="label-field col-md-6 text-right">
      <h5>
        Y ES:
      </h5>
    </div>
    <div class="content-field col-md-6">
      <label for="nina" class="col-xs-5">
        <img src="/static/images/genero_nena.png" alt="Niña" class="img-responsive ">
        <span>Niña</span>
      </label>
      <input type="radio" name="genero" id="nina" value="nina" >
      <label for="nino" class="col-xs-5">
        <img src="/static/images/genero_nene.png" alt="Niño" class="img-responsive ">
        <span>Niño</span>
      </label>
      <input type="radio" name="genero" id="nino" value="nino" >
    </div>
  </div>

  <div class="field field-radio">
    <div class="label-field col-md-6 text-right">
      <h5>
        Color de ojos de <span class="nombreTexto">[NOMBRE]</span>:
      </h5>
    </div>
    <div class="content-field col-md-6 muchos-radios">
      <label for="marron" class="col-xs-3">
        <img src="/static/images/ojos_marrones.png" alt="Marrones" class="img-responsive ">
      </label>
      <input type="radio" name="color_ojos_nino" id="marron" value="marron" >
      <label for="azul" class="col-xs-3">
        <img src="/static/images/ojos_azules.png" alt="Azules" class="img-responsive ">
      </label>
      <input type="radio" name="color_ojos_nino" id="azul" value="azul" >
      <label for="verde" class="col-xs-3">
        <img src="/static/images/ojos_verdes.png" alt="Verdes" class="img-responsive ">
      </label>
      <input type="radio" name="color_ojos_nino" id="verde" value="verde" >
    </div>
  </div>

  <div class="field field-radio">
    <div class="label-field col-md-6 text-right">
      <h5>
        Color de piel de <span class="nombreTexto">[NOMBRE]</span>:
      </h5>
    </div>
    <div class="content-field col-md-6 muchos-radios">
      <label for="clara1" class="col-xs-3">
        <img src="/static/images/piel_clara.png" alt="Clara" class="img-responsive ">
      </label>
      <input type="radio" name="pielNino" id="clara1" value="clara" >
      <label for="oscura1" class="col-xs-3">
        <img src="/static/images/piel_morena.png" alt="Oscura" class="img-responsive ">
      </label>
      <input type="radio" name="pielNino" id="oscura1" value="oscura" >
      <label for="morena1" class="col-xs-3">
        <img src="/static/images/piel_afro.png" alt="Morena" class="img-responsive ">
      </label>
      <input type="radio" name="pielNino" id="morena1" value="afro" >
    </div>
  </div>

  <div class="field field-radio" id="peinadoTextos">
    <div class="label-field col-md-6 text-right">
      <h5>
        Tipo de pelo de <span class="nombreTexto">[NOMBRE]</span>:
      </h5>
    </div>
    <div class="content-field col-md-6 muchos-radios">
      <label for="peloAfroCorto1" class="col-xs-3">
        <img src="/static/images/pelo_afro_corto.png" alt="Castaño" class="img-responsive ">
        <span class="peinadoText">Afro corto</span>
      </label>
      <input onchange="chooseHair('afro')" type="radio" name="peloNino" id="peloAfroCorto1" value="afrocorto" >
      <label for="peloAfroLargo1" class="col-xs-3">
        <img src="/static/images/pelo_afro_largo.png" alt="Negro" class="img-responsive ">
        <span class="peinadoText">Afro largo</span>
      </label>
      <input onchange="chooseHair('afro')" type="radio" name="peloNino" id="peloAfroLargo1" value="afrolargo" >
      <label for="peloLisoCorto1" class="col-xs-3">
        <img src="/static/images/pelo_liso_corto.png" alt="Rubio" class="img-responsive ">
        <span class="peinadoText">Liso corto</span>
      </label>
      <input onchange="chooseHair('otherHair')" type="radio" name="peloNino" id="peloLisoCorto1" value="lisocorto" >
      <label for="peloLisoLargo1" class="col-xs-3">
        <img src="/static/images/pelo_liso_largo.png" alt="Pelirojo" class="img-responsive ">
        <span class="peinadoText">Liso largo</span>
      </label>
      <input onchange="chooseHair('otherHair')" type="radio" name="peloNino" id="peloLisoLargo1" value="lisolargo" >
      <label for="peloOnduladoCorto1" class="col-xs-3">
        <img src="/static/images/pelo_ondulado_corto.png" alt="Pelirojo" class="img-responsive ">
        <span class="peinadoText">Ondulado corto</span>
      </label>
      <input onchange="chooseHair('otherHair')" type="radio" name="peloNino" id="peloOnduladoCorto1" value="rizadocorto" >
      <label for="peloOnduladoLargo1" class="col-xs-3">
        <img src="/static/images/pelo_ondulado_largo.png" alt="Pelirojo" class="img-responsive ">
        <span class="peinadoText">Ondulado largo</span>
      </label>
      <input onchange="chooseHair('otherHair')" type="radio" name="peloNino" id="peloOnduladoLargo1" value="rizadolargo" >
    </div>
  </div>

  <div class="field field-radio" id="colorDelPelo" style="display:none">
    <div class="label-field col-md-6 text-right">
      <h5>
        Color de pelo de <span class="nombreTexto">[NOMBRE]</span>:
      </h5>
    </div>
    <div class="content-field col-md-6 muchos-radios">
        <label for="castanoclaro1" class="col-xs-3">
          <img src="/static/images/pelo_castano.png" alt="Castaño" class="img-responsive ">
        </label>
        <input type="radio" name="colorPelo" id="castanoclaro1" value="castanoclaro" >
        <label for="castanooscuro1" class="col-xs-3">
          <img src="/static/images/pelo_castano_oscuro.png" alt="Castaño" class="img-responsive ">
        </label>
        <input type="radio" name="colorPelo" id="castanooscuro1" value="castanooscuro" >
        <label for="moreno1" class="col-xs-3">
          <img src="/static/images/pelo_negro.png" alt="Negro" class="img-responsive ">
        </label>
        <input type="radio" name="colorPelo" id="moreno1" value="negro" >
        <label for="rubio1" class="col-xs-3">
          <img src="/static/images/pelo_rubio.png" alt="Rubio" class="img-responsive ">
        </label>
        <input type="radio" name="colorPelo" id="rubio1" value="rubio" >
        <label for="pelirrojo" class="col-xs-3">
          <img src="/static/images/pelo_pelirrojo.png" alt="Pelirojo" class="img-responsive ">
        </label>
        <input type="radio" name="colorPelo" id="pelirrojo" value="pelirrojo" >
    </div>
  </div>

  <div class="field field-radio" id="colorDelPeloAfro" style="display:none">
    <div class="label-field col-md-6 text-right">
      <h5>
        Color de pelo de <span class="nombreTexto">[NOMBRE]</span>:
      </h5>
    </div>
    <div class="content-field col-md-6 muchos-radios">
        <label for="castanooscuro1" class="col-xs-3">
          <img src="/static/images/pelo_castano_oscuro.png" alt="Castaño" class="img-responsive ">
        </label>
        <input type="radio" name="colorPelo" id="castanooscuro1" value="castanooscuro" >

        <label for="moreno1" class="col-xs-3">
          <img src="/static/images/pelo_negro.png" alt="Negro" class="img-responsive ">
        </label>
        <input type="radio" name="colorPelo" id="moreno1" value="negro" >
    </div>
  </div>

  <div class="field field-radio">
    <div class="label-field col-md-6 text-right">
      <h5>
        Lleva gafas?
      </h5>
    </div>
    <div class="content-field col-md-6">
      <label for="gafas1" class="col-xs-5">
        <img src="/static/images/gafas.png" alt="Gafas" class="img-responsive ">
        <span>Sí</span>
      </label>
      <input type="radio" name="gafasNino" id="gafas1" value="si" >
      <label for="singafas1" class="col-xs-5">
        <img src="/static/images/singafas.png" alt="Sin Gafas" class="img-responsive ">
        <span>No</span>
      </label>
      <input type="radio" name="gafasNino" id="singafas1" value="no" >
    </div>
  </div>

  <div class="field">
    <div class="label-field col-md-6 text-right">
      <h5>
        País donde vive:
      </h5>
    </div>
    <div class="content-field col-md-6">
      <input type="text" name="nombre_pais" required="" class="form-control" maxlength="25" value="">
    </div>
  </div>

  <div class="field">
    <div class="label-field col-md-6 text-right">
      <h5>
        <select id="lugar_procedencia" name="lugar_procedencia" class="-cd-select personaje-dropdown form-control">
          <option value="ciudad" >Ciudad donde vive</option>
          <option value="pueblo" >Pueblo donde vive</option>
        </select>
      </h5>
    </div>
    <div class="content-field col-md-6">
      <input type="text" name="nombre_ciudad" required="" class="form-control" maxlength="20" value="">
    </div>
    </div>
    <h5 class="label-field col-md-12 text-center">Atención: si escribe los nombres en MAYÚSCULAS, éstos aparecerán tal y como los haya escrito.</h5>
            <input type="submit" onclick="disableSubmit(this)" value="Siguiente >" id="siguiente-paso-1" class="button--next__funnel button__text__funnel"/>
        </form>
    </div>
</div>
<<script type="text/javascript">
  !function(){var frizbit=window.frizbit=window.frizbit||[];if(!frizbit.initialize){if(frizbit.invoked){window.console&&console.error&&console.error("Frizbit snippet included twice.")}else{frizbit.invoked=!0;frizbit.methods=["identify", "user", "track","ready","debug","pageViewed","once","off","on"];frizbit.factory=function(t){return function(){var r=Array.prototype.slice.call(arguments);r.unshift(t);frizbit.push(r);return frizbit}};for(var t=0;t<frizbit.methods.length;t+=1){var r=frizbit.methods[t];frizbit[r]=frizbit.factory(r)}frizbit.load=function(t,r){r=r||{};var i="https://cdn.frizbit.com/js/",n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"frizbit.min.js";var o=document.createElement("link");o.rel="stylesheet",o.href=i+"frizbit.min.css";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);a.parentNode.insertBefore(o,a);frizbit._loadOptions=r;frizbit._loadOptions.appKey=t};
  frizbit.SNIPPET_VERSION="0.0.3";
  frizbit.load("2211f14e7dd8f22e");
  frizbit.identify({language: 'es-es'});
  frizbit.pageViewed();
  }}}();
</script>

<div class=" pasos-cuento text-center" style="margin:0px;margin-top:30px;top:10px;">
      <div class="row-cuento container-paso">
          <div class="col-md-4">
              <div style="text-align: center;height: 150px;">
                  <img src="/static/images/icono_libro_1.png" alt="" width="140px" style="position: relative;top: 45px;">
              </div>
              <p><strong>Libros de calidad</strong></p>
              <p style="color:#5f5d5d;">Disfruta de nuestros preciosos cuentos en tapa dura, ilustrados a todo color, con bellísimas ilustraciones para compartir en familia.</p>
          </div>
          <div class="col-md-4">
              <div style="text-align: center;height: 150px;">
                  <img src="/static/images/icono_envio_1.png" alt="" width="120px" style="position: relative;top: 20px;">
              </div>
              <p><strong>Envíos seguros a tu casa</strong></p>
              <p style="color:#5f5d5d;">El libro te llegará de 10 a 15 días laborables a la dirección que nos hayas indicado. (Excepto en fechas especiales)</p>
          </div>
          <div class="col-md-4">
              <div style="text-align: center;height: 150px;">
                  <img src="/static/images/icono_recuerdo_1.png" alt="" width="80px">
              </div>
              <p><strong>Recuerdo para siempre</strong></p>
              <p style="color:#5f5d5d;">Los libros personalizados de MiCuento además de promover el amor por la lectura de los más pequeños son un recuerdo muy emotivo que guardarán para siempre.</p>
          </div>
      </div>
</div>


 {% endblock %}
