{% extends "base.html" %}

{% block title %}Entrada al sistema{% endblock %}

{% block contenido %}
<div class="banner-login">
  </div>
  <div class="login-page" id="login-form">
  <div class="left">
   <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="username"/>
      <input type="password" placeholder="password"/>
      <button>login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
    </div>
    <div class="right">
      <a href="#" style="float:right;margin-right:35px;font-size: 0.9em;"><h3 class="title">Inicia sesion con tus redes sociales!</h3></a>
       <div class="bts">
         <a href="#" class="fblogin social"><i class="fab fa-facebook-f"></i><span>Inicia sesion con Facebook</span></a>
         <a href="#" class="gplogin social"><i class="fab fa-google-plus-g"></i><span>Inicia sesion con Google</span></a>
     </div>
  </div>
  {% endblock %}
